Repository remcolakens/hydrogen: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, prettier --write

refactor: .eslintrc.js > .eslintrc
  apps/cbt-hydrogen/.eslintrc
  apps/cbt-hydrogen/.eslintrc.js
Due: eslint --cache, prettier --write

chore: prettier for tsconfig
  apps/cbt-hydrogen/tsconfig.json
  packages/config/tsconfig/tsconfig.json
Due: prettier --write

fix: issue with tailwind.config.ts not reloading
  apps/cbt-hydrogen/tailwind.config.ts
  apps/storybook/package.json
  apps/storybook/tailwind.config.ts
  packages/config/tailwind-config/tailwind.config.ts
  pnpm-lock.yaml
  tailwind.config.ts
Due: eslint --cache, prettier --write

refactor: add peerDependencies
  apps/cbt-hydrogen/package.json
  apps/storybook/package.json
  apps/storybook/postcss.config.js
  package.json
  packages/components/accordion/package.json
  packages/components/react/package.json
  packages/config/postcss-config/package.json
  packages/config/postcss-config/postcss.config.ts
  packages/config/postcss-config/src/index.ts
  packages/config/tailwind-config/package.json
  pnpm-lock.yaml
Due: eslint --cache, prettier --write

fix: typescript version cbt-hydrogen
  apps/cbt-hydrogen/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add correct repository information
  packages/config/tsconfig/package.json
  packages/utilities/tailwind-utils/package.json
Due: prettier --write

docs: updated README.md
  packages/config/postcss-config/README.md
  packages/config/tailwind-config/README.md
Due: prettier --write

chore: adjusted slack message
  .github/workflows/release.yml
Due: prettier --write

feat: add Vercel deployment
  apps/cbt-hydrogen/app/lib/session.server.ts
  apps/cbt-hydrogen/package.json
  apps/cbt-hydrogen/remix.config.js
  apps/cbt-hydrogen/server-dev.ts
  apps/cbt-hydrogen/server.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint --cache, prettier --write

fix: files tailwind-utils
  packages/utilities/tailwind-utils/package.json
Due: prettier --write

fix: add @code-internet-applications/tailwind-utils to storybook
  apps/storybook/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: update dependency
  packages/utilities/tailwind-utils/package.json
  pnpm-lock.yaml
Due: prettier --write

revert: add @code-internet-applications/tailwind-utils to storybook
  apps/storybook/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: add missing dependency
  apps/storybook/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: vercel deployment for hello-world
  apps/cbt-hydrogen/app/lib/session.server.ts
  apps/cbt-hydrogen/remix.config.js
  apps/cbt-hydrogen/remix.env.d.ts
  apps/cbt-hydrogen/server-dev.ts
  apps/cbt-hydrogen/server.ts
Due: eslint --cache, prettier --write

fix: session with vercel (#7)
  apps/cbt-hydrogen/app/lib/session.server.ts
  apps/cbt-hydrogen/server-dev.ts
  apps/cbt-hydrogen/server.ts
Due: eslint --cache, prettier --write

ci: stop update of pinned versions
  .github/renovate.json
Due: prettier --write

ci: lock version inquirer
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: add vercel.json (#12)
  vercel.json
Due: prettier --write

ci: rename workflow
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: prettier --write

feat: add TailwindCSS (#13)
  apps/cbt-hydrogen/app/root.tsx
  apps/cbt-hydrogen/app/routes/_index.tsx
  apps/cbt-hydrogen/app/styles/app.css
  apps/cbt-hydrogen/app/styles/tailwind.css
  apps/cbt-hydrogen/package.json
  apps/cbt-hydrogen/remix.config.js
  apps/cbt-hydrogen/server.ts
  apps/cbt-hydrogen/tailwind.config.ts
  apps/cbt-hydrogen/tsconfig.json
  pnpm-lock.yaml
Due: eslint --cache, prettier --write

feat: configured eslint and package clean-up (#14)
  apps/cbt-hydrogen/.eslintrc
  apps/cbt-hydrogen/.eslintrc.js
  apps/cbt-hydrogen/README.md
  apps/cbt-hydrogen/app/entry.client.tsx
  apps/cbt-hydrogen/app/entry.server.tsx
  apps/cbt-hydrogen/app/lib/session.server.ts
  apps/cbt-hydrogen/app/root.tsx
  apps/cbt-hydrogen/package.json
  apps/cbt-hydrogen/remix.env.d.ts
  apps/cbt-hydrogen/server-dev.ts
  apps/cbt-hydrogen/server.ts
  apps/cbt-hydrogen/tailwind.config.ts
  pnpm-lock.yaml
Due: eslint --cache, prettier --write

feat: add global prettier config (#15)
  .changeset/cyan-dots-melt.md
  .prettierrc
  package.json
  packages/config/prettier-config/.prettierrc.json
  packages/config/prettier-config/CHANGELOG.md
  packages/config/prettier-config/README.md
  packages/config/prettier-config/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: turbo concurrency issue (#17)
  .github/workflows/ci.yml
  package.json
  packages/components/accordion/package.json
  packages/components/react/package.json
  packages/utilities/tailwind-utils/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

feat: add plop package (#18)
  .prettierignore
  package.json
  plop/component/README.md.hbs
  plop/component/package.json.hbs
  plop/component/src/index.ts.hbs
  plop/component/src/types.ts.hbs
  plop/component/src/{{componentName}}.tsx.hbs
  plopfile.js
  pnpm-lock.yaml
Due: eslint --cache, prettier --write

docs: updated README (#20)
  .changeset/empty-pumpkins-lay.md
  .npmrc
  packages/components/accordion/README.md
  packages/components/react/README.md
  packages/config/eslint-config-code/README.md
  packages/config/postcss-config/README.md
  packages/config/prettier-config/README.md
  packages/config/tailwind-config/README.md
  packages/config/tsconfig/README.md
  packages/utilities/tailwind-utils/README.md
  plop/component/README.md.hbs
Due: prettier --write

fix: changeset release (#22)
  .changeset/config.json
  .github/workflows/release.yml
  apps/code-base-theme/.eslintignore
  apps/code-base-theme/.eslintrc
  apps/code-base-theme/.gitignore
  apps/code-base-theme/.graphqlrc.yml
  apps/code-base-theme/.npmrc
  apps/code-base-theme/README.md
  apps/code-base-theme/app/entry.client.tsx
  apps/code-base-theme/app/entry.server.tsx
  apps/code-base-theme/app/lib/session.server.ts
  apps/code-base-theme/app/root.tsx
  apps/code-base-theme/app/routes/_index.tsx
  apps/code-base-theme/app/styles/tailwind.css
  apps/code-base-theme/package.json
  apps/code-base-theme/public/favicon.svg
  apps/code-base-theme/remix.config.js
  apps/code-base-theme/remix.env.d.ts
  apps/code-base-theme/server-dev.ts
  apps/code-base-theme/server.ts
  apps/code-base-theme/tailwind.config.ts
  apps/code-base-theme/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: eslint --cache, prettier --write

ci(changesets): version packages (#26)
  .changeset/empty-pumpkins-lay.md
  packages/components/accordion/CHANGELOG.md
  packages/components/accordion/package.json
  packages/components/react/CHANGELOG.md
  packages/components/react/package.json
  packages/config/eslint-config-code/CHANGELOG.md
  packages/config/eslint-config-code/package.json
  packages/config/postcss-config/CHANGELOG.md
  packages/config/postcss-config/package.json
  packages/config/prettier-config/CHANGELOG.md
  packages/config/prettier-config/package.json
  packages/config/tailwind-config/CHANGELOG.md
  packages/config/tailwind-config/package.json
  packages/config/tsconfig/CHANGELOG.md
  packages/config/tsconfig/package.json
  packages/utilities/tailwind-utils/CHANGELOG.md
  packages/utilities/tailwind-utils/package.json
Due: prettier --write

fix: remove double build step (#27)
  .github/workflows/release.yml
Due: prettier --write

chore: add codeowners (#28)
  .github/CODEOWNERS
Due: none

chore(many): extend features in the foundation (#29)
  .lintstagedrc
  .vscode/extensions.json
  .vscode/settings.json
  CODE_OF_CONDUCT.md
  apps/code-base-theme/app/entry.server.tsx
  package.json
  packages/components/accordion/src/accordion/index.tsx
  packages/config/eslint-config-code/.eslintrc.json
  packages/config/prettier-config/.prettierrc.json
  pnpm-lock.yaml
Due: eslint --cache, prettier --write

fix: add plugin to prettier-config package (#30)
  package.json
  packages/config/prettier-config/.prettierrc.json
  packages/config/prettier-config/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add workflows to github (#32)
  .github/workflows/deploy.yml
  packages/components/accordion/src/accordion/index.tsx
  vercel.json
Due: eslint --cache, prettier --write

fix: add prod deploy (#34)
  .github/workflows/deploy.yml
Due: prettier --write

ci: rename github workflows (#36)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: prettier --write

refactor: update vercel configuration (#37)
  vercel.json
Due: prettier --write

ci(changesets): version packages (#43)
  .changeset/long-crabs-breathe.md
  packages/components/accordion/CHANGELOG.md
  packages/components/accordion/package.json
  packages/components/heading/CHANGELOG.md
  packages/components/heading/package.json
  packages/components/icon/CHANGELOG.md
  packages/components/icon/package.json
  packages/components/react/CHANGELOG.md
  packages/components/react/package.json
  packages/components/text/CHANGELOG.md
  packages/components/text/package.json
  packages/config/eslint-config-code/CHANGELOG.md
  packages/config/eslint-config-code/package.json
  packages/config/postcss-config/CHANGELOG.md
  packages/config/postcss-config/package.json
  packages/config/prettier-config/CHANGELOG.md
  packages/config/prettier-config/package.json
  packages/config/tailwind-config/CHANGELOG.md
  packages/config/tailwind-config/package.json
  packages/config/tsconfig/CHANGELOG.md
  packages/config/tsconfig/package.json
  packages/utilities/tailwind-utils/CHANGELOG.md
  packages/utilities/tailwind-utils/package.json
Due: prettier --write

feat: remove legacy packages (#44)
  apps/storybook/package.json
  apps/storybook/postcss.config.js
  packages/components/accordion/CHANGELOG.md
  packages/components/accordion/README.md
  packages/components/accordion/package.json
  packages/components/accordion/src/accordion/index.tsx
  packages/components/accordion/src/index.ts
  packages/components/accordion/stories/accordion.mdx
  packages/components/accordion/stories/accordion.stories.tsx
  packages/components/accordion/tsconfig.json
  packages/components/react/package.json
  packages/components/react/src/index.ts
  packages/config/postcss-config/CHANGELOG.md
  packages/config/postcss-config/README.md
  packages/config/postcss-config/package.json
  packages/config/postcss-config/postcss.config.ts
  packages/config/tsconfig/CHANGELOG.md
  pnpm-lock.yaml
Due: eslint --cache, prettier --write

Path conditions:
  eslint --cache: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{md,mdx,yml,json,babelrc,eslintrc,prettierrc})
